@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

.body {
    font-size: 18px;


}




.Principal {
    width: 100vw;
    height: 100vh;
}



.Containner {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100%;
}

.rtesad{
    width: 300px;
    height: 420px;
    border-radius: 25px;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    border-right: none;
    padding: 5px;

}



.result4,
#texto2 {
    user-select: none;
    color: hsla(222, 100%, 96%, 0.562);
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    margin-inline: 20px;
}



.Sumario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    padding-right: 55px;


}

#Summary {
    font-weight: 800;
    margin-bottom: 10px;
}

.result1 {
    user-select: none;
    margin-top: 20px;
    color: hsla(222, 100%, 96%, 0.63);
    font-size: 16px;
    font-weight: 700;
}


.result2 {
    user-select: none;
    justify-content: center;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    padding: 35px;
    margin-left: 60px;
    margin-top: 30px;
    margin-right: 60px;
    margin-bottom: 15px;
    max-width: 110px;


}

.Number {
    margin-top: 10px;
    font-size: 60px;
    color: white;
}

.Number1 {
    color: hsla(222, 100%, 96%, 0.390);
    font-size: 15px;
}

.result3,
#texto1 {
    user-select: none;
    color: white;
    margin-bottom: 1px;
    font-weight: 500;
    font-size: 28px;

}

.fdsrwquj {
    width: 330px;
    height: 430px;
    box-shadow: 8px 3px 15px -7px hsl(241, 100%, 89%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;

}

.f30_,
.f31_,
.f32_,
.f33_ {
    margin-top: 15px;
}

#Reaction {
    justify-content: flex-start;
    font-weight: 500;
    color: hsl(0, 100%, 67%);
}

#img1 {
    margin-right: 10px;

}

#NumberSpace1 {
    font-weight: 700;
}


#NumberObfuscate {
    margin-left: 5px;
    font-weight: 800;
    color: hsla(210, 2%, 24%, 0.404);
}

.f30_ {
    display: flex;
    border: 1px none;
    user-select: none;
    background-image: linear-gradient(to right, rgba(255, 87, 87, 0.089), hsla(241, 100%, 89%, 0.11));
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;


}

#NumberSpace, #NumberObfuscate{
    justify-content: flex-end;

}

#Start, #Start2, #Start3, #Start4{
    display: flex;
}


.f31_ {
    display: flex;
    user-select: none;
    border: 1px none;
    background-image: linear-gradient(to right, rgba(255, 177, 31, 0.089), hsla(241, 100%, 89%, 0.11));
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

#img2 {
    margin-right: 10px;
}

#Memory {
    font-weight: 500;
    color: hsl(39, 100%, 56%);
}

#NumberSpace2 {
    font-weight: 700;
}

#NumberObfuscate1 {
    margin-left: 5px;
    font-weight: 800;
    color: hsla(210, 2%, 24%, 0.404);
}


.f32_ {
    display: flex;
    user-select: none;
    border: 1px none;
    background-image: linear-gradient(to right, rgba(167, 255, 94, 0.089), hsla(241, 100%, 89%, 0.11));
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

#img3 {
    margin-right: 10px;
}


#Verbal {
    font-weight: 500;
    color: hsl(166, 100%, 37%);
}


#NumberSpace3 {
    font-weight: 700;
}

#NumberObfuscate2 {
    margin-left: 5px;
    font-weight: 800;
    color: hsla(210, 2%, 24%, 0.404);
}

.f33_ {
    display: flex;
    user-select: none;
    border: 1px none;
    background-image: linear-gradient(to right, hsla(234, 85%, 45%, 0.089), hsla(241, 100%, 89%, 0.11));
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}


#img4 {
    margin-right: 10px;
}

#Visual {
    font-weight: 500;
    color: hsla(234, 85%, 45%);
}

#NumberSpace4 {
    font-weight: 700;
}

#NumberObfuscate3 {
    margin-left: 5px;
    font-weight: 800;
    color: hsla(210, 2%, 24%, 0.404);
}


.Botao{
    display: flex;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 170px;
    width: 100%;
    height: 48px;
    margin-left: 15px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    user-select: none;
}

#Continue{
    font-weight: 500;
    font-size: 17px;

}


.Botao:hover{
    background-color: hsl(241, 81%, 54%);
}



@media screen and (max-width: 768px){
    .body{
        height: auto;
    }

    .Containner{
        height: auto;
        flex-direction: column;
        box-shadow: none;
        align-items: center;
        text-align: center;
        
    }

    .result2{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 15px;

    }
    

    .rtesad{
        width: 100%;
        border-radius: 0px 0px 50px 50px;
    }


    .fdsrwquj{
        width: 100%;
        box-shadow: none;
    }

    #Continue{
        width: auto;

    }

}


